body {
    background-color: whitesmoke;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.app_wrapper {
    overflow: hidden;
}

.brk_room-name:focus {
    background-color: red;
}

 @media only screen and (min-width: 540px) and (orientation: landscape) {
     #cars {
         
       height: 60px;
    width: 50%;
    right: 0;
        position: absolute;
     }
  }
